[submodule "submodules/external/HairStep"]
	path = submodules/external/HairStep
	url = https://github.com/GAP-LAB-CUHK-SZ/HairStep
[submodule "submodules/external/ml-depth-pro"]
	path = submodules/external/ml-depth-pro
	url = https://github.com/apple/ml-depth-pro.git
[submodule "submodules/external/Deep3DFaceRecon_pytorch"]
	path = submodules/external/Deep3DFaceRecon_pytorch
	url = https://github.com/sicxu/Deep3DFaceRecon_pytorch.git
[submodule "submodules/external/VOODOO3D-official"]
	path = submodules/external/VOODOO3D-official
	url = https://github.com/mbzuai-metaverse/VOODOO3D-official.git
[submodule "submodules/external/GaussianHaircut"]
	path = submodules/external/GaussianHaircut
	url = git@github.com:deepmancer/GaussianHaircut.git
